@{
    var Culture = System.Threading.Thread.CurrentThread.CurrentCulture.Name;
}

<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge">
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <title>@ViewBag.Title</title>
    <!-- Favicon-->
    <link rel="icon" href="~/favicon.ico" type="image/x-icon">

    <!-- Google Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic-ext" rel="stylesheet" type="text/css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet" type="text/css">

    <!-- Bootstrap Core Css -->
    <link href="~/plugins/bootstrap/css/bootstrap.css" rel="stylesheet">

    <!-- Waves Effect Css -->
    <link href="~/plugins/node-waves/waves.css" rel="stylesheet" />

    <!-- Animation Css -->
    <link href="~/plugins/animate-css/animate.css" rel="stylesheet" />

    <!-- Morris Chart Css-->
    <link href="~/plugins/morrisjs/morris.css" rel="stylesheet" />

    <!-- Custom Css -->
    <link href="~/css/style.css" rel="stylesheet">

    <!-- AdminBSB Themes. You can choose a theme from css/themes instead of get all themes -->
    <link href="~/css/themes/all-themes.css" rel="stylesheet" />


    @if (Culture == "ar-EG")
    {
        <link href="~/Ar.css" rel="stylesheet" />

    }
    else
    {
        <link href="~/En.css" rel="stylesheet" />

    }
</head>

<body class="theme-red">
    <!-- Page Loader -->
    <div class="page-loader-wrapper">
        <div class="loader">
            <div class="preloader">
                <div class="spinner-layer pl-red">
                    <div class="circle-clipper left">
                        <div class="circle"></div>
                    </div>
                    <div class="circle-clipper right">
                        <div class="circle"></div>
                    </div>
                </div>
            </div>
            <p>Please wait...</p>
        </div>
    </div>
    <!-- #END# Page Loader -->
    <!-- Overlay For Sidebars -->
    <div class="overlay"></div>
    <!-- #END# Overlay For Sidebars -->
    <!-- Search Bar -->
    <div class="search-bar">
        <div class="search-icon">
            <i class="material-icons">search</i>
        </div>
        <input type="text" placeholder="START TYPING...">
        <div class="close-search">
            <i class="material-icons">close</i>
        </div>
    </div>
    <!-- #END# Search Bar -->
    <!-- Top Bar -->
    <nav class="navbar">
        <div class="container-fluid">
            <div class="navbar-header">
                <a href="javascript:void(0);" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-collapse" aria-expanded="false"></a>
                <a href="javascript:void(0);" class="bars"></a>
                <a class="navbar-brand" asp-controller="Home" asp-action="Index">@SharedLocalizer["ADMINDASHBOARD"]</a>
            </div>
            <div class="collapse navbar-collapse" id="navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li class="nav-item">
                        <a asp-controller="Account" asp-action="LogOff">
                            <span>@SharedLocalizer["LogOut"]</span>
                        </a>
                    </li>
                </ul>
                <div class="collapse navbar-collapse" id="navbar-collapse">
                    <ul class="nav navbar-nav navbar-right">
                        <!--  Notifications-->
                        <li class="dropdown">
                            <a href="javascript:void(0);" class="dropdown-toggle" data-toggle="dropdown" role="button">
                                <i class="material-icons">notifications</i>
                                <span class="label-count">7</span>
                            </a>
                            <ul class="dropdown-menu">
                                <li class="header">@SharedLocalizer["NOTIFICATIONS"]</li>
                                <li class="body">
                                    <ul class="menu">
                                            @if (Culture == "ar-EG")
                                            {
                                                <li>
                                                    <a class="dropdown-item d-flex justify-content-between"
                                                       href="@Url.Action("SetLanguage", "Language", new {
                                                                                culture = "en-US",
                                                                                returnUrl = Context.Request.Path + Context.Request.QueryString
                                                                            })">
                                                        <img src="~/images/usa.jpg" width="25" height="15" class="mt-1" />
                                                        <span>@SharedLocalizer["English"] </span>
                                                    </a>
                                                </li>

                                            }
                                            else
                                            {
                                                <li>
                                                    <a class="dropdown-item d-flex justify-content-between"
                                                       href="@Url.Action("SetLanguage", "Language", new {
                                                                                culture = "ar-EG",
                                                                                returnUrl = Context.Request.Path + Context.Request.QueryString
                                                                            })">
                                                        <img src="~/images/Egypt.jpg" width="25" height="15" class="mt-1" />
                                                        <span>@SharedLocalizer["Arabic"]</span>
                                                    </a>

                                                </li>
                                            }
                                        </ul>
                                </li>
                                <li class="footer">
                                    <a href="javascript:void(0);">@SharedLocalizer["ViewAllNotifications"]</a>
                                </li>
                            </ul>
                        </li>
                        <!--#END# Notifications -->
                        <li class="pull-right"><a href="javascript:void(0);" class="js-right-sidebar" data-close="true"><i class="material-icons">more_vert</i></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </nav>
    <!-- #Top Bar -->
    <section>
        <!-- Left Sidebar -->
        <aside id="leftsidebar" class="sidebar">
            <!-- User Info -->
            <div class="user-info">
                <div class="image">
                    <img src="~/images/user.png" width="48" height="48" alt="User" />
                </div>
                <div class="info-container">
                    @RenderSection("EmailAndUsername", false)
                    <div class="btn-group user-helper-dropdown">
                        <i class="material-icons" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">keyboard_arrow_down</i>
                        <ul class="dropdown-menu pull-right">
                            <li><a href="javascript:void(0);"><i class="material-icons">person</i>Profile</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">group</i>Followers</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">shopping_cart</i>Sales</a></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">favorite</i>Likes</a></li>
                            <li role="seperator" class="divider"></li>
                            <li><a href="javascript:void(0);"><i class="material-icons">input</i>Sign Out</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- #User Info -->
            <!-- Menu -->
            <div class="menu">
                <ul class="list">
                    <li class="header">@SharedLocalizer["MAINNAVIGATION"]</li>
                    <li class="active">
                        <a asp-controller="Home" asp-action="Index">
                            <i class="material-icons">home</i>
                            <span>@SharedLocalizer["Home"]</span>
                        </a>
                    </li>
                    <li>
                        <a href="javascript:void(0);" class="menu-toggle">
                            <i class="material-icons">widgets</i>
                            <span>@SharedLocalizer["Tickets"]</span>
                        </a>
                        <ul class="ml-menu">
                            <li>
                                <a asp-controller="TicketType" asp-action="Index">@SharedLocalizer["TicketTypeCard"]</a>
                            </li>
                            <li>
                                <a asp-controller="TicketWithAttachments" asp-action="Index">@SharedLocalizer["Tickets"]</a>
                            </li>
                        </ul>
                    </li>
                    @if (User.IsInRole(Portal.Domains.Enums.Roles.SuperAdmin.ToString()))
                    {
                        <li>
                            <a asp-controller="Account" asp-action="AddUser">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span>@SharedLocalizer["AddUser"]</span>
                            </a>
                        </li>
                        <li>
                            <a asp-controller="Account" asp-action="AddRole">
                                <i class="material-icons">radio_button_unchecked</i>
                                <span>@SharedLocalizer["AddRole"]</span>
                            </a>
                        </li>
                    }
                    <li class="active">
                        <a asp-controller="Account" asp-action="LogOff">
                            <i class="material-icons">keyboard_tab</i>
                            <span>@SharedLocalizer["LogOut"]</span>
                        </a>
                    </li>
                </ul>
            </div>
            <!-- #Menu -->
            <!-- Footer -->
            <div class="legal">
                <div class="copyright">
                    &copy; @DateTime.Now.Year<a href="javascript:void(0);">@SharedLocalizer["©2023AdminDASHBOARD."]</a>.
                </div>
            </div>
            <!-- #Footer -->
        </aside>
        <!-- #END# Left Sidebar -->
    </section>

    <section class="content">
        <div class="container-fluid">
            <div class="block-header">
                <h2>@ViewBag.ControllerName / <span class="font-bold col-blue-grey">@ViewBag.Title</span></h2>
            </div>

            <div class="container-fluid">
                @RenderBody()
            </div>
        </div>
    </section>

    <!-- Jquery Core Js -->
    <script src="~/plugins/jquery/jquery.min.js"></script>
    @RenderSection("Scripts", required: false)

    <!-- Bootstrap Core Js -->
    <script src="~/plugins/bootstrap/js/bootstrap.js"></script>

    <!-- Select Plugin Js -->
    <script src="~/plugins/bootstrap-select/js/bootstrap-select.js"></script>

    <!-- Slimscroll Plugin Js -->
    <script src="~/plugins/jquery-slimscroll/jquery.slimscroll.js"></script>

    <!-- Waves Effect Plugin Js -->
    <script src="~/plugins/node-waves/waves.js"></script>

    <!-- Jquery CountTo Plugin Js -->
    <script src="~/plugins/jquery-countto/jquery.countTo.js"></script>

    <!-- Morris Plugin Js -->
    <script src="~/plugins/raphael/raphael.min.js"></script>
    <script src="~/plugins/morrisjs/morris.js"></script>

    <!-- ChartJs -->
    <script src="~/plugins/chartjs/Chart.bundle.js"></script>

    <!-- Flot Charts Plugin Js -->
    <script src="~/plugins/flot-charts/jquery.flot.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.resize.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.pie.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.categories.js"></script>
    <script src="~/plugins/flot-charts/jquery.flot.time.js"></script>

    <!-- Sparkline Chart Plugin Js -->
    <script src="~/plugins/jquery-sparkline/jquery.sparkline.js"></script>

    <!-- Custom Js -->
    <script src="~/js/admin.js"></script>
    <script src="~/js/pages/index.js"></script>

    <!-- Demo Js -->
    <script src="~/js/demo.js"></script>

</body>
</html>
